.header-container{
  background-image:url(images/CAROUSEL-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 1000;
  padding-left: 1000px;
}
.featurette-divider{
  background color:#fe7d40;
  align-content: center;
}
.navbar-Collapse {
  display: flex;
  align-items: right;
  justify-content: right;
}
